.App {
  text-align: center;
}
body {
  font-family: Damascus;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.white-translu-02 {
  background-color: #fff;
  background-color: rgba(255,255,255,0.1)
}

.black-translu-1 {
  background-color: #fff;
  background-color: rgba(50,70,200,0.1)
}

.playlist-bg { background-color: #35404a !important}

.margin-10 { margin: 10px }
.margin-20 { margin: 20px;}
.margin-25 { margin: 25px;}
.margin-15 { margin: 15px }

.radius-5px {border-radius: 5px !important }

.text-center {text-align: center}

.padding-2 {margin: 2px}
.padding-2-rem {padding: 2rem;}
.padding-0 {padding: 0px !important}

.light-grey { background-color: #EBECF0 }

.white {color: white !important}

.left-margin-5 { margin-left: 5px !important;}


.padding-5 {padding: 5px; }
.padding-10 {padding: 10px; }

.dark-bg { background-color: #222222}

.min-h-playlists { min-height: 1000px }

.max-height-w { max-height: 400px }

.width-300px { width: 300px }
.min-width-300 { min-width: 300px }
.min-width-500 {min-width: 500px}
.width-long{ width: 10000000px}
